<div class="big-blog">
  <div class="container">
    <div class="big-blog__row row">
      <div class="big-blog__item col-5">
        <h2 class="big-blog__title">What is Lorem Ipsum?</h2>
        <p class="big-blog__desription">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution...
        </p>
        <div class="big-blog__row row">
          <span class="big-blog__time">May 20 </span>
          <a href="#" class="big-blog__link">Read more</a>
        </div>
      </div>
      <img src="/img/bigComputer.png" alt="" />
    </div>
  </div>
</div>
