<div class="hero">
  <div class="container">
    <div class="hero__row row">
      <div class="col-6 hero__item">
        <h1 class="hero__title">Make better coffee</h1>
        <h2 class="hero__subtitle">why learn how to blog?</h2>
        <img src="/img/coffe.png" alt="" class="hero__coffe">
      </div>
      <div class="col-6 hero__item">
        <img src="/img/herobg.png " alt="" />
      </div>
    </div>
  </div>
</div>
