<nav>
  <div class="site-title">
    <a href="">My blog</a>
    <p>Its my own blog</p>
  </div>
  <ul>
    <li><a href="/">Main page</a></li>
    <li><a href="/about">About us</a></li>
    <li><a href="/blogs/create">Create blog</a></li>
  </ul>
</nav>
