<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%-include('./partials/nav.ejs') %>
    <div class="create-blog content">
      <form action="/blogs" method="POST" >
        <label for="imgUrl">Blog img url:</label>
        <input type="text" id="imgUrl" name="imgUrl" required />
        <label for="title">Blog title :</label>
        <input type="text" id="title" name="title" required />
        <label for="date">Blog date:</label>
        <input type="text" id="date" name="date" required />
        <label for="description">Blog description:</label>
        <textarea
          type="text"
          id="description"
          name="description"
          required
        ></textarea>

        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
