.blogs {
  margin-top: 43px;
  &__row {
    justify-content: space-between;
  }
}
.card {
  width: min-content;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
  border-radius: 5px;
  &__inner {
    padding: 18px 25px 24px 17px;
  }
  &_description {
    margin: 18px 0 22px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #718096;
  }
  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #2d3748;
  }
  &__row {
    justify-content: space-between;
  }
  &__time {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #718096;
  }
  &__link {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #2d3748;
  }
}
